<!DOCTYPE html>
<html lang="et">


<head>
<meta charset = "utf-8">
<title>Diana Vladõtsenko</title>

</head>
<body>

<img src="/banner/vp_banner_2024.png" alt="veebiporgammeerimise 2024 aasta kursuse bänner">
<h1>Dianchik Vladõtsenko</h1>
<p>See leht on loodud õppetööö raames <a href="https://www.tlu.ee" target="_blank" > Tallina Ülikoos </a>, Digitehnoloogiate insituudis ja ei sisalda tõsiseltvõetavat materjalid</p>
<hr>
<ul>
<li><a href = "/">Avalehele</a></li>
</ul>
<hr>

<h2>Lisa filmi tegelane</h2>
<form method="POST">
    <label for="personName">Tegelase nimi:</label>
    <input type="text" id="personName" name="personName" placeholder="Tegelane ...">
    <button type="submit" name="personSubmit">Lisa tegelane</button> 
<br>
</form>

<h2>Lisa filmi</h2>
<form method="POST">
<label for="filmTitle">Filmi pealkiri:</label>
    <input type="text" id="filmTitle" name="filmTitle" placeholder="Film ...">
    <button type="submit" name="filmSubmit">Lisa film</button>
<br>
</form>

<h2>Lisa tegelase roll</h2>
<form method="POST">
<label for="roleInput">Sisesta eesnimi:</label>
<input type="text" id="roleInput" name="roleInput" placeholder="Role ...">
<label for="roleName">Roll:</label>
<input type="text" id="roleName" name="roleName" placeholder="Role ...">
<br>
</form>


</body>
</html>
