<!DOCTYPE html>
<html lang="et">


<head>
<meta charset = "utf-8">
<title>Diana Vladõtsenko</title>

</head>
<body>

<img src="/banner/vp_banner_2024.png" alt="veebiporgammeerimise 2024 aasta kursuse bänner">
<h1>Dianchik Vladõtsenko</h1>
<p>See leht on loodud õppetööö raames <a href="https://www.tlu.ee" target="_blank" > Tallina Ülikoos </a>, Digitehnoloogiate insituudis ja ei sisalda tõsiseltvõetavat materjalid</p>
<hr>
<div>
<form method="POST">
<label for = "emailInput">Email</label>
<input type = "email" id = "emailInput" name="emailInput">
</div>
<div class="passw">
<label for = "passwordInput">Parool</label>
<input type = "password" id = "passwordInput" name="passwordInput" required>
</div>
<input type ="submit" id="loginSubmit" name="loginSubmit" value="Logimine.."><span><%= locals.notice %></span>
</form>
<hr>

<ul>
<li><a href = "/">Avalehele</a></li>
<li><a href = "/regvisit">Registreeri oma kulastus (tekstifaili)</a></li>
<li><a href = "/regvisitdb">Registreeri oma kulastus (andmebaasi)</a></li>
<li><a href="/signup">Users(kasutajakontoloomine)</a></li>
<li><a href="/weather">Ilm</a></li>

</ul>

<hr>
<h2>Praegune ajahetk</h2>
<p>Selle lehe avamise hetkel oli:</p>
<ul>


</body>
</html>