<!DOCTYPE html>
<html lang="et">


<head>
<meta charset = "utf-8">
<title>Diana Vladõtsenko</title>

</head>
<body>

<img src="/banner/vp_banner_2024.png" alt="veebiporgammeerimise 2024 aasta kursuse bänner">
<h1>Dianchik Vladõtsenko</h1>
<p>See leht on loodud õppetööö raames <a href="https://www.tlu.ee" target="_blank" > Tallina Ülikoos </a>, Digitehnoloogiate insituudis ja ei sisalda tõsiseltvõetavat materjalid</p>
<hr>
<ul>
<li><a href = "/">Avalehele</a></li>
</ul>
<hr>
<h2>Uhe tegelase film</h2>
<<% personrelations.forEach(function(personrelations){%>
	<li><%= item.first_name %> <%= item.first_name %>,sundinud: <%= item.birth_date %>, <a href ="/eestifilm/personrelations/<% item.id %>">Vaata seosed</a></li>
	<% }); %>>

</body>
</html>
