<!DOCTYPE html>
<html lang="et">


<head>
<meta charset = "utf-8">
<title>Diana Vladõtsenko</title>

</head>
<body>

<img src="/banner/vp_banner_2024.png" alt="veebiporgammeerimise 2024 aasta kursuse bänner">
<h1>Dianchik Vladõtsenko</h1>
<p>See leht on loodud õppetööö raames <a href="https://www.tlu.ee" target="_blank" > Tallina Ülikoos </a>, Digitehnoloogiate insituudis ja ei sisalda tõsiseltvõetavat materjalid</p>
<hr>

<h2>Eesti filmitegelased</h2>
<ul>
<li><a href = "/home">Avalehele</a></li>
<li><a href = "/eestifilm">Eesti filmi avaleht</a></li>
</ul>
<hr>

 <h2>Tegelaste nimekiri:</h2>
 <ul>
	<% persons.forEach(function(item){%>
	<li><%= item.first_name %> <%= item.first_name %>,sundinud: <%= item.birth_date %>, <a href ="/eestifilm/personrelations/<% item.id %>">Vaata seosed</a></li>
	<% }); %>
 </ul>

</body>
</html>
