<!DOCTYPE html>
<html lang="et">


<head>
<meta charset = "utf-8">
<title>Diana Vladõtsenko</title>

</head>
<body>

<img src="/banner/vp_banner_2024.png" alt="veebiporgammeerimise 2024 aasta kursuse bänner">
<h1>Dianchik Vladõtsenko</h1>
<p>See leht on loodud õppetööö raames <a href="https://www.tlu.ee" target="_blank" > Tallina Ülikoos </a>, Digitehnoloogiate insituudis ja ei sisalda tõsiseltvõetavat materjalid</p>
<hr>
<ul>
<li><a href = "/timenow">Avalehele</a></li>
<li><a href = "/vanas]nad">Vanasonad</a></li>
<li><a href = "/regvisit">Registreeri oma kulastus. Pane nimi kirja</a></li>

</ul>
<hr>

<h2><%= h2 %></h2>

<p>Selle lehe avamise hetkel oli:</p>
<ol>
   <% listData.forEach(function(phrase){ %>
<%= phrase %>
<% }); %>
</ol>

</body>
</html>