<!DOCTYPE html>
<html lang="et">


<head>
<meta charset = "utf-8">
<title>Diana Vladõtsenko</title>
<link rel = "stylesheet" href = "/public/style/style.css">
<link rel = "stylesheet" href = "/public/style/modal.css">
<script src="/script/gallery.js" defer></script>
</head>
<body>

<img src="/banner/vp_banner_2024.png" alt="veebiporgammeerimise 2024 aasta kursuse bänner">
<h1>Dianchik Vladõtsenko</h1>
<p>See leht on loodud õppetööö raames <a href="https://www.tlu.ee" target="_blank" > Tallina Ülikoos </a>, Digitehnoloogiate insituudis ja ei sisalda tõsiseltvõetavat materjalid</p>
<hr>
<ul>
<li><a href = "/home">Avalehele</a></li>
</ul>
<hr>
<h2>Galeriifotode uleslaadimine</h2>
<form method="POST" enctype="multipart/form-data">
    <label for="photoInput">Vali pildi fail</label>
    <input type="file" id="photoInput" name="photoInput" required>
	
	<label for="altInput">Sisesta lternatiiv tekst:</label>
	<input type="text" id="altInput" name="altInput" placeholder="Sellel pildil ...">
	<input type="radio" id="privacyInput3" name="privacyInput" value="3" checked>
	<label for ="privacyInput1">Avalik</label>
	
	<input type="submit" id ="photoSubmit" name="photoSubmit" value ="Lae ules">
	
<br>
</form>
<hr>
<dialog id = "modal" class ="modalarea">
	<span id="modalClose" class="modalclose">&times;</span>
	<div class="modalhorizontal">
	<div class = "modalvertical">
		<p id = "modalcaption"></p>
		<img id = "modalimage" src = "/pics/empty.png" alt= "galeriipilt">
	</div>
	</div>
</dialog>
<h2>Fotogalerii</h2>
<div class="gallery">
<% listData.forEach (function(image) {%>
<img src = "<%=image.href%> <%=image.filename%>" alt=<% image.alt%> data-filename="<%image.filename%>" data-id="<%image.id%>" class="thumbs">
<%});%>
</div>


</body>
</html>
