<!DOCTYPE html>
<html lang="et">


<head>
<meta charset = "utf-8">
<title>Diana Vladõtsenko</title>

</head>
<body>

<img src="/banner/vp_banner_2024.png" alt="veebiporgammeerimise 2024 aasta kursuse bänner">
<h1>Dianchik Vladõtsenko</h1>
<p>See leht on loodud õppetööö raames <a href="https://www.tlu.ee" target="_blank" > Tallina Ülikoos </a>, Digitehnoloogiate insituudis ja ei sisalda tõsiseltvõetavat materjalid</p>
<hr>
<ul>
<li><a href = "/">Avalehele</a></li>
<li><a href = "/addnews">Lisa uudis</a></li>

</ul>
<hr>
<p>Ilm</p>
<p><%= notice || title&description&expirationDate %></p>
<input type ="submit" name = "changeNewsSubmit" value="Muuda">


</body>
</html>